<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css" />
    <title>Pokemon Battle</title>
</head>

<body>
    <header>
        <h1>Pokemon Battle</h1>
    </header>
    <div class="oppInfo">
        <h2>Your Opponent</h2>
        <p>Easy difficulty</p>
        <p>Power Level 50</p>
    </div>
    <section class="oppPkmn">
        <div>
            <h3>pichu</h3>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/172.png" />
            <p>Attack Power</p>
            <p>40</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
    </section>
    <div class="userInfo">
        <h2>Create your team</h2>
        <p>Current Power</p>
    </div>
    <section class="userPkmn">
        <div>
            <h3>pikachu</h3>
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" />
            <p>Attack Power</p>
            <p>55</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
    </section>
    <div class="rollInfo">
        <h2>Draft Pool</h2>
        <p>Pick from the the pool of 3 until you have a team of 6</p>
        <p>Click Roll to create a new pool of Pokemon</p>
        <div id="rollButton">
            <button type="button">Roll for Pokemon</button>
        </div>
    </div>
    <section class="rollPkmn">
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
        <div>
            <h3>Pokemon name</h3>
            <img src="url" />
            <p>Attack Power</p>
            <p>000</p>
        </div>
    </section>
</body>

</html>