<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Battle Registration</title>
</head>
<body>
    <header>
        <h1>Pokemon Power Battle</h1>
    </header>
    <section>
        <form>
            <label>Your Name</label>
            <input type="text" name="userName" />

            <label>Choose your difficulty</label>
        <select name="difficulty">
            <option value="diffEasy">Easy</option>
            <option value="diffHard">Hard</option>
        </select>
        </form>
    </section>
</body>
</html>