body {
    font-family: sans-serif;
}

header {
    text-align: center;
}

/* NOTE: Log in page specific styling */
.setup div {
    margin-bottom: 1em;
}

.setup label {
    margin-right: 1em;
}

#nameEntry {
    display: flex;
    justify-content: center;
}

#difficultySelect {
    display: flex;
    justify-content: center;
}

#startButton {
    display: flex;
    justify-content: center;
}

/* NOTE: Battle page specific styling */

/* NOTE: Info styling for Opponent */
.oppInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.oppInfo h2 {
    margin: 15px;
}

.oppInfo p {
    margin: 10px;
    font-weight: bold;
}

/* NOTE: Styling for Opponent's Pokemon */
.oppPkmn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.oppPkmn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.oppPkmn h3 p {
    max-height: 50;
}

/* NOTE: Info styling for User */
.userInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userInfo h2 {
    margin: 15px;
}

.userInfo p {
    margin: 10px;
    font-weight: bold;
}

/* NOTE: Styling for User's Pokemon */
.userPkmn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.userPkmn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.userPkmn h3 p {
    max-height: 50;
}

/* NOTE: Info styling for Rolled Pokemon */
.rollInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.rollInfo h2 {
    margin: 15px;
}

.rollInfo p {
    margin: 10px;
    font-weight: bold;
}



/* NOTE: Styling for Pokemon being rolled*/
.rollPkmn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rollPkmn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.rollPkmn h3 p {
    max-height: 50;
}