body {
    font-family: sans-serif;
}

header {
    text-align: center;
}


/* NOTE: Info styling for Opponent */
.oppInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.oppInfo h2 {
    margin: 15px;
}

.oppInfo p {
    margin: 10px;
    font-weight: bold;
}

/* NOTE: Styling for Opponent's Pokemon */
.oppPkmn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.oppPkmn div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.oppPkmn h3 {
    max-height: 50;
    margin: 5px;
}

.oppPkmn p {
    max-height: 25;
    margin: 5px;
}

/* NOTE: Info styling for User */
.userInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.userInfo h2 {
    margin: 15px;
}

.userInfo p {
    margin: 10px;
    font-weight: bold;
}

/* NOTE: Styling for User's Pokemon */
.userStyling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.userStyling div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.userStyling h3 {
    max-height: 50;
    margin: 5px;
}

.userStyling p {
    max-height: 25;
    margin: 5px;
}

/* NOTE: Info styling for Rolled Pokemon */
.rollInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.rollInfo h2 {
    margin: 15px;
}

.rollInfo p {
    margin: 10px;
    font-weight: bold;
}



/* NOTE: Styling for Pokemon being rolled*/
.rolledStyling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.rolledStyling div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.rolledStyling h3 {
    max-height: 50;
    margin: 5px;
}

.rolledStyling p {
    max-height: 25;
    margin: 5px;
}